In [1]:
SELECT * FROM dbo.ExampleTable;

ID,Name,Age,Email
1,John Doe,25,john.doe@example.com
2,Jane Smith,30,jane.smith@example.com
3,Bob Johnson,28,bob.johnson@example.com
4,Alice Williams,22,alice.williams@example.com

In [2]:
INSERT INTO ExampleTable (ID, Name, Age, Email)
VALUES
    (5, 'Piotr Wachulec', 28, 'piotr@wachulec.me');

In [1]:
SELECT Name, Age FROM dbo.ExampleTable;

Name,Age
John Doe,25
Jane Smith,30
Bob Johnson,28
Alice Williams,22
Piotr Wachulec,28

In [2]:
SELECT Name, Age FROM dbo.ExampleTable;

Name,Age
John Doe,25
Jane Smith,30
Bob Johnson,28
Alice Williams,22
Piotr Wachulec,28